[*.cs]

# CA1062: Проверить аргументы или открытые методы
dotnet_diagnostic.CA1062.severity = none

# CA1305: Укажите IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1031: Не перехватывать исключения общих типов
dotnet_diagnostic.CA1031.severity = none
